# fly.toml app configuration file generated for x-gpt on 2024-01-03T09:00:25-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "x-gpt"
primary_region = "yyz"

[build]
  builder = "paketobuildpacks/builder:base"
  buildpacks = ["gcr.io/paketo-buildpacks/go"]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
