basePath: /apis
definitions:
  ResponseError:
    properties:
      message:
        type: string
    type: object
  ResponseOk:
    properties:
      message:
        type: string
    type: object
  models.DatarefValue:
    properties:
      name:
        type: string
      value: {}
    type: object
  models.SendCommandReq:
    properties:
      command:
        type: string
    type: object
  models.SetDatarefValue:
    properties:
      dataref:
        type: string
      value: {}
    type: object
info:
  contact: {}
paths:
  /liveness:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "204":
          description: No Content
      summary: K8s Liveness endpoint
      tags:
      - Misc
  /readiness:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ResponseError'
      summary: K8s Readiness endpoint
      tags:
      - Misc
  /version:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseOk'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ResponseError'
      summary: Get version of GPT X-Plane plugin
      tags:
      - Misc
  /xplm/command:
    put:
      consumes:
      - application/json
      parameters:
      - description: xplane command
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.SendCommandReq'
      produces:
      - application/json
      responses:
        "501":
          description: Not Implemented
      security:
      - Oauth2Application:
        - ""
      summary: Send command to X Plane
      tags:
      - Dataref
  /xplm/dataref:
    get:
      consumes:
      - application/json
      parameters:
      - description: xplane dataref string
        in: query
        name: dataref_str
        required: true
        type: string
      - description: alias name, if not set, dataref_str will be used
        in: query
        name: alias
        type: string
      - description: '-1: raw, 2: round up to two digits'
        in: query
        name: precision
        required: true
        type: integer
      - description: transform xplane byte array to string
        in: query
        name: is_byte_array
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.DatarefValue'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ResponseError'
      security:
      - Oauth2Application:
        - ""
      summary: Get Dataref
      tags:
      - Dataref
    put:
      consumes:
      - application/json
      parameters:
      - description: dataref and value
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.SetDatarefValue'
      produces:
      - application/json
      responses:
        "501":
          description: Not Implemented
      security:
      - Oauth2Application:
        - ""
      summary: Set Dataref
      tags:
      - Dataref
  /xplm/datarefs:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.DatarefValue'
            type: array
        "501":
          description: Not Implemented
      security:
      - Oauth2Application:
        - ""
      summary: Get a list of Dataref
      tags:
      - Dataref
    put:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "501":
          description: Not Implemented
      security:
      - Oauth2Application:
        - ""
      summary: Set a list of Dataref
      tags:
      - Dataref
securityDefinitions:
  "":
    authorizationUrl: https://auth.xairline.org/oidc/auth
    flow: accessCode
    tokenUrl: https://auth.xairline.org/oidc/token
    type: oauth2
swagger: "2.0"
