basePath: /apis
definitions:
  ResponseError:
    properties:
      message:
        type: string
    type: object
  ResponseOk:
    properties:
      message:
        type: string
    type: object
  models.DatarefValue:
    properties:
      name:
        type: string
      value: {}
    type: object
  models.FlightInfo:
    properties:
      airportId:
        type: string
      airportName:
        type: string
      fuelWeight:
        type: number
      time:
        type: number
      totalWeight:
        type: number
    type: object
  models.FlightState:
    enum:
    - parked
    - taxi_out
    - takeoff
    - climb
    - cruise
    - descend
    - landing
    - taxi_in
    type: string
    x-enum-varnames:
    - FlightStateParked
    - FlightStateTaxiOut
    - FlightStateTakeoff
    - FlightStateClimb
    - FlightStateCruise
    - FlightStateDescend
    - FlightStateLanding
    - FlightStateTaxiIn
  models.FlightStatus:
    properties:
      aircraftDisplayName:
        type: string
      aircraftICAO:
        type: string
      arrivalFlightInfo:
        $ref: '#/definitions/models.FlightInfo'
      createdAt:
        type: string
      departureFlightInfo:
        $ref: '#/definitions/models.FlightInfo'
      events:
        items:
          $ref: '#/definitions/models.FlightStatusEvent'
        type: array
      id:
        type: integer
      locations:
        items:
          $ref: '#/definitions/models.FlightStatusLocation'
        type: array
      updatedAt:
        type: string
      username:
        type: string
    type: object
  models.FlightStatusEvent:
    properties:
      createdAt:
        type: string
      description:
        type: string
      details:
        type: string
      eventType:
        $ref: '#/definitions/models.FlightStatusEventType'
      flightId:
        type: integer
      id:
        type: integer
      timestamp:
        type: number
      updatedAt:
        type: string
    type: object
  models.FlightStatusEventType:
    enum:
    - event:state
    - event:location
    - event:violation
    type: string
    x-enum-varnames:
    - StateEvent
    - LocationEvent
    - ViolationEvent
  models.FlightStatusLocation:
    properties:
      agl:
        type: number
      altitude:
        type: number
      createdAt:
        type: string
      flapRatio:
        type: number
      flightId:
        type: integer
      fuel:
        type: number
      gearForce:
        type: number
      gforce:
        type: number
      gs:
        type: number
      heading:
        type: number
      ias:
        type: number
      id:
        type: integer
      lat:
        type: number
      lng:
        type: number
      pitch:
        type: number
      state:
        $ref: '#/definitions/models.FlightState'
      timestamp:
        type: number
      updatedAt:
        type: string
      vs:
        type: number
    type: object
  models.SendCommandReq:
    properties:
      command:
        type: string
    type: object
  models.SetDatarefValue:
    properties:
      dataref:
        type: string
      value: {}
    type: object
info:
  contact: {}
paths:
  /flight-logs:
    get:
      consumes:
      - application/json
      parameters:
      - description: specify if it's overview
        in: query
        name: isOverview
        type: string
      - description: departure airport
        in: query
        name: departureAirportId
        type: string
      - description: arrival airport
        in: query
        name: arrivalAirportId
        type: string
      - description: aircraft ICAO
        in: query
        name: aircraftICAO
        type: string
      - description: xplane or xws
        in: query
        name: source
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.FlightStatus'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ResponseError'
      summary: Get a list of FlightLogs
      tags:
      - Flight_Logs
  /flight-logs/{id}:
    get:
      consumes:
      - application/json
      parameters:
      - description: id of a flight log item
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.FlightStatus'
        "404":
          description: Not Found
      summary: Get one FlightLog
      tags:
      - Flight_Logs
  /liveness:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "204":
          description: No Content
      summary: K8s Liveness endpoint
      tags:
      - Misc
  /readiness:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ResponseError'
      summary: K8s Readiness endpoint
      tags:
      - Misc
  /version:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseOk'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ResponseError'
      summary: Get version of GPT X-Plane plugin
      tags:
      - Misc
  /xplm/command:
    put:
      consumes:
      - application/json
      parameters:
      - description: xplane command
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.SendCommandReq'
      produces:
      - application/json
      responses:
        "501":
          description: Not Implemented
      security:
      - Oauth2Application:
        - ""
      summary: Send command to X Plane
      tags:
      - Dataref
  /xplm/dataref:
    get:
      consumes:
      - application/json
      parameters:
      - description: xplane dataref string
        in: query
        name: dataref_str
        required: true
        type: string
      - description: alias name, if not set, dataref_str will be used
        in: query
        name: alias
        type: string
      - description: '-1: raw, 2: round up to two digits'
        in: query
        name: precision
        required: true
        type: integer
      - description: transform xplane byte array to string
        in: query
        name: is_byte_array
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.DatarefValue'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ResponseError'
      security:
      - Oauth2Application:
        - ""
      summary: Get Dataref
      tags:
      - Dataref
    put:
      consumes:
      - application/json
      parameters:
      - description: dataref and value
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.SetDatarefValue'
      produces:
      - application/json
      responses:
        "501":
          description: Not Implemented
      security:
      - Oauth2Application:
        - ""
      summary: Set Dataref
      tags:
      - Dataref
  /xplm/datarefs:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.DatarefValue'
            type: array
        "501":
          description: Not Implemented
      security:
      - Oauth2Application:
        - ""
      summary: Get a list of Dataref
      tags:
      - Dataref
    put:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "501":
          description: Not Implemented
      security:
      - Oauth2Application:
        - ""
      summary: Set a list of Dataref
      tags:
      - Dataref
securityDefinitions:
  "":
    authorizationUrl: https://auth.xairline.org/oidc/auth
    flow: accessCode
    tokenUrl: https://auth.xairline.org/oidc/token
    type: oauth2
swagger: "2.0"
