name: Cloudflare Pages

on:
  push:
    branches: [ main ]
    paths:
      - 'web/**'

jobs:
  cloudflare_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: |
          export CI=false
          npm install
          npm run build --if-present
        working-directory: web
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: 322bc13f4b4d49f08b2da1973a650e7a
          projectName: xairline
          directory: web/build
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          wranglerVersion: '3'